{% extends "marketplace/base.html "%}
{% block content %}
    <h1 id="1-feit_hackathon">1. FEIT_Hackathon</h1>
    <p>UTSxFEIT Hackathon prototype 2nd hand prototype marketplace website</p>
    <h2 id="11-table-of-contents">1.1. Table of Contents</h2>
    <ul>
    <li><a href="#1-feit_hackathon">1. FEIT_Hackathon</a>
    <ul>
    <li><a href="#11-table-of-contents">1.1. Table of Contents</a></li>
    </ul>
    </li>
    <li><a href="#2-topic">2. Topic</a>
    <ul>
    <li><a href="#21-general-background"><em>2.1. General background</em></a></li>
    <li><a href="#22-brief-4"><em>2.2. Brief 4</em></a></li>
    </ul>
    </li>
    <li><a href="#3-team-members">3. Team Members</a></li>
    <li><a href="#4-the-idea">4. The Idea</a></li>
    <li><a href="#5-target">5. Target</a></li>
    <li><a href="#6-but-i-can-get-my-stuff-from-ebay-or-facebook-market-place-for-cheap">6. But I can get my stuff from Ebay or Facebook market place for cheap?</a></li>
    <li><a href="#7-okay-im-in-but-what-about-the-price">7. Okay I'm in. But what about the price?</a></li>
    <li><a href="#8-ahh-i-get-it-but-how-is-your-business-going-to-be-profitable">8. Ahh, I get it. But how is your business going to be profitable?</a></li>
    <li><a href="#9-how-is-the-idea-in-line-with-the-scope-of-the-hackathon">9. How is the idea in line with the scope of the hackathon?</a></li>
    <li><a href="#10-what-would-the-team-do-if-the-idea-scales-up-in-the-future">10. What would the team do if the idea scales up in the future?</a></li>
    <li><a href="#11-awesome-so-how-can-i-join-and-what-do-i-get-in-return">11. Awesome! So how can I join and what do I get in return?</a></li>
    </ul>
    <h1 id="2-topic">2. Topic</h1>
    <h2 id="21-general-background"><em>2.1. General background</em></h2>
    <div style="text-align: justify">The IPCC’s Special Report on Global Warming of 1.5°C (SR15) states that global warming will likely rise to
    1.5°C above pre-industrial levels between 2030 and 2052 if warming continues to increase at the current rate. A
    key finding of SR15 is that meeting a 1.5°C target is possible but would require ‘deep emissions reductions’ and
    ‘rapid, far-reaching and unprecedented changes in all aspects of society.’ Transformational change is required to
    limit global warming to 1.5°C, including rapid decarbonisation, focused research and the deployment of
    technology.
    As a university and public institution that exists for societal benefit, UTS has a responsibility to demonstrate
    leadership and best practice in greenhouse gas (GHG) emission reduction. In an Australian first in 2015 UTS
    signed a Power Purchase Agreement with a solar farm in Singleton. In 2016 the university was one of the first
    five Australian universities to commit to the UN Sustainable Development Goals. In September 2019 UTS was
    the first Australian university to declare a Climate Emergency. UTS is now exploring options for how we can
    become a carbon neutral university.
    </div><br>
    <h2 id="22-brief-4"><em>2.2. Brief 4</em></h2>
    <div style="text-align: justify"> Much of the population in and around the UTS campus is transient. New residents to the area often require basic
    but bulky household items such as furniture, appliances and bicycles, which are then no longer required when
    residents depart the area. This encourages such residents to purchase low value items with little durability and
    little value in the second-hand market, leading to dumping and a surfeit of waste. What opportunities exist to
    develop a share economy program for better quality and more durable household items?</div>
    <br>
    <h1 id="3-team-members">3. Team Members</h1>
    <ol>
    <li>
    <p>Sanskar Gauchan <br>
    a. ID: 13984149 <br>
    b. 2nd year bscit<br>
    c. I can do a burnout on a motorbike</p>
    </li>
    <li>
    <p>Minh Nguyen <br>
    a. ID: 13002884 <br>
    b. Final year Electrical Engineering students<br>
    c. I can do a cool wave</p>
    </li>
    </ol>
    <h1 id="4-the-idea">4. The Idea</h1>
    <div style="text-align: justify"> A centralised and an internal website for UTS Campus students to buy and sell their belongings when not used. Be it that for upgrading or moving out, the students can put up their item on sale and our team will arrange a meeting day to come and inspect the item. If the representative determine that the item is still usuable and in relatively good condition, they will approve the item to be put display on the market place. </div>
    <br>
    <div style="text-align: justify"> After the item is put up for sale, the buyer can contact the seller directly without contacting the team. The seller can adjust the price and the buyer has the ability to negotiate the price.</div>
    <br>
    <div style="text-align: justify"> In any cases that the item is not sellable, the students have the option to let the inspector to take that item for recycle purposes. The team will collect all unusuable product and recycle them according to the local Sydney council.</div>
    <br>
    <h1 id="5-target">5. Target</h1>
    <div style="text-align: justify"> All UTS students living on campus and all students living in the Central Sydney area. To access the website, students are required to registered with there UTS email account. </div>
    <br>
    <h1 id="6-but-i-can-get-my-stuff-from-ebay-or-facebook-market-place-for-cheap">6. But I can get my stuff from Ebay or Facebook market place for cheap?</h1>
    <div style="text-align: justify"> All product before putting up will be inspected for quality assurance to be in almost tip top conditions so students can reassured that they are not getting scammed or being charged an unreasonable price. When the students want to throw out the product purchased from the website, they can contact the team to arrange a pickup.</div>
    <br>
    <h1 id="7-okay-im-in-but-what-about-the-price">7. Okay I'm in. But what about the price?</h1>
    <div style="text-align: justify"> As said before, all items are 2nd hand so you can rest easy that your wallet won't get money COVID. Ideally, all products will be priced as less than half of the original price. </div>
    <br>
    <h1 id="8-ahh-i-get-it-but-how-is-your-business-going-to-be-profitable">8. Ahh, I get it. But how is your business going to be profitable?</h1>
    <div style="text-align: justify"> The organisation will be unprofitable. We only take 10% profit out of every transactions to maintain the website, storage rental as well as using them for gas money and deliveries. In the future, we can ask for UTS for funding if this idea grows to a certain stage. </div>
    <br>
    <h1 id="9-how-is-the-idea-in-line-with-the-scope-of-the-hackathon">9. How is the idea in line with the scope of the hackathon?</h1>
    <div style="text-align: justify">If more items are being reused and recycled, the less waste is produced.</div>
    <br>
    <h1 id="10-what-would-the-team-do-if-the-idea-scales-up-in-the-future">10. What would the team do if the idea scales up in the future?</h1>
    <div style="text-align: justify">Well, that means we have to get more people to help with the business and logistics. We will need to get a new storage space and also adjust our service price accordingly. But the most important factor is to provide UTS students with good price products. We can always use a hand if you want to volunteer for us.</div>
    <br>
    <h1 id="11-awesome-so-how-can-i-join-and-what-do-i-get-in-return">11. Awesome! So how can I join and what do I get in return?</h1>
    <div style="text-align: justify">As a volunteer, you will help us to do inspection on the item. We will evaluate your specialty so that the inspecting item is within your knowledge. In return, we will work with UTS to provide you a certificate of appreciation. You can also help us with developing the website and logistics work.</div>
    <br>
    <p><a href="#1-feit_hackathon">Back To Top</a></p>
{% endblock content %}