{% extends "marketplace/base.html "%}
{% block content %}
    {% for item in items %}        
        <article class="media content-section">
            <div class="media-body">
                <div class="item-metadata">
                    <a class="mr-2" href="#">{{item.seller}}</a>
                    <small class="text-muted">Student ID: {{item.student_id}} - Date: {{item.date}}</small>
                </div>
                <h2><a class="item-title" href="#">{{item.item_name}}</a></h2>
                <p class="item-content">{{item.description}}</p>
                <p class="item-price">{{item.price}} - Status: {{item.status}}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}
